body.container {
    -webkit-box-shadow: 0 3px 60px #fff;
    box-shadow: 0 3px 60px #fff;
    border-left: 1px solid #cfcfcf;
    border-right: 1px solid #cfcfcf;
    padding: 0px 5px !important;
  }

#map-canvas {
        height: 500px;
        padding: 10px;
        margin-bottom: 10px
        padding: 0px;
      }

.main{
  padding: 5px;
}
h3{
  margin:0px;
}
.bold{
  font-weight: bold;
}
.input{
  background : #dedede !important;
  border : solid 1px #fff;
  padding: 0px;
  text-align: right;
}
.box_label{
  /*background: #00C57D;*/
  background: #828396;
  padding:3px;
  color: #fff;
  border: solid 1px #65BD77;
}
.box_desc{
  background: #dedede;
  padding:3px;
  border: solid 1px #fff;
}
.red{
  color: red;
}
h5{
  margin: 1px;
  font-weight: bold;
}
label,p{
  font-weight: normal;
  font-size: 12px;
}
.input-sm{
  padding: 2px ;
  height: 25px ;
  border-radius: 0px;
  border: solid 1px #fff;
  font-size: 12px;
}
select.input-sm{
  height: 25px;
}
input.yellow, select.yellow{
  background-color: #FFF7B3;
}
.form-group{
    margin-bottom:3px;
    margin-top:2px;
}
.top{
  margin-top: 20px;
}
.space{
  margin-top:20px;
  margin-bottom: 20px;
}
.page_foot{
  margin-top:40px;
}
.page{
  padding:5px;
}
.skyblue{
  background-color: #828396;
  color: #fff;
}
.warm{
  background-color: #D7C100;
  color: white;
}
th.small{
  font-size: 12px;
}
p.small{
  margin-bottom: 2px;
}
th.center, td.center{
  text-align: center;
  vertical-align: center;

}
td{
  padding: 1px !important;
}
.blue{
  padding: 2px;
  color: #fff;
  background-color: #828396;
}
.box_photo{
  border: solid 1px #000;
  padding :5px;
  margin:5px;
}

/*
* style template
*/

/* bootstrap 3 helpers */

.navbar-form input, .form-inline input {
  width:auto;
}

/* end */

/* custom theme + Bootstrap resets */
@import url('http://fonts.googleapis.com/css?family=Open+Sans:300,400');

header {
  min-height:180px;
    margin-bottom:5px;
}

/* only apply sticky columns on wider screens */
@media (min-width: 1200px) {
  #sidebar {
  margin-left:15px;
  }

  #content {
  padding-right:15px;
  }

  #sidebar.affix-top {
      position: static;
  }
  
  #sidebar.affix {
      position: fixed !important;
      top: 20px;
      width:200px;
  }

  #midCol.affix-top {
      position: static;
  }

  #midCol.affix-bottom {
      padding-top:0;
  }
  
  #midCol.affix {
      position:fixed !important;
      top: 20px;
      width:292px;
  }
}

.affix {
      position:static;
}

body {
  font-family: 'Open Sans',Arial,Helvetica,Sans-Serif;
  font-weight:300;
  color:#676767;
  background-color:#efefef;
}

a,a:hover {
  color:#65BD77;
    text-decoration:none;
}

.highlight-bk {
  background-color:#65BD77;
    padding:1px;
    width:100%;
}

.highlight {
  color:#65BD77;
}
  
h3.highlight  {
  padding-top:13px;
    padding-bottom:14px;
    border-bottom:2px solid #65BD77;
}

.navbar {
  background-color:#fff;
    color:#000;
    border-radius:0;
    margin-bottom: 5px;
}
.navbar-nav > li > a {
    color:#000;
    padding-left:20px;
    padding-right:20px;
    border-left:1px solid #fff;
}
.navbar-nav > li:last-child > a {
    border-right:1px solid #fff;
}

.navbar-nav li a:hover {
    background-color:#89CC97;
}

.navbar-nav > .open > a, .navbar-nav > .open > a:hover, .navbar-nav > .open > a:focus {
  color: #000;
    opacity:.9;
}

.navbar-brand {
  color:#fff;
}

.accordion-group {
  border-width:0;
}

.dropdown-menu {
  min-width: 250px;
}

.caret {
  color:#fff;
}

.navbar-toggle {
  color:#89CC97;
    border-width:0;
}
  
.navbar-toggle:hover {
  background-color:#68B977;
}

.panel,.panel-heading {
    border-radius:0;
    border-width:0;
    -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.09);
  box-shadow: 0 3px 3px  rgba(0, 0, 0, 0.09);
}
.panel-heading{
  margin-top: 50px;
}

.thumbnail {
  margin-bottom:8px;
  border-radius:0;
}

.well {
    border-radius:0;
}

.accordion-heading .accordion-toggle, .accordion-inner, .nav-stacked li > a {
  padding-left:1px;
}

footer {
    height:50px;
    background-color:#65BD77;
    color:#fff;
    position: fixed;
}

@media (min-width: 992px) {
  .no-gutter.row > div[class*='col-md'] {
    padding-left: 0;
    padding-right: 0;
  }
  .no-gutter.row > .col-md-12 {
    width: 99.99999999999999%;
    *width: 99.93055555555554%;
  }
  .no-gutter.row .col-md-11 {
    width: 91.66666666666666%;
    *width: 91.59722222222221%;
  }
  .no-gutter.row > .col-md-10 {
    width: 83.33333333333331%;
    *width: 83.26388888888887%;
  }
  .no-gutter.row > .col-md-9 {
    width: 74.99999999999999%;
    *width: 74.93055555555554%;
  }
  .no-gutter.row > .col-md-8 {
    width: 66.66666666666666%;
    *width: 66.59722222222221%;
  }
  .no-gutter.row > .col-md-7 {
    width: 58.33333333333333%;
    *width: 58.263888888888886%;
  }
  .no-gutter.row > .col-md-6 {
    width: 49.99999999999999%;
  }
  .no-gutter.row > .col-md-4 {
    width: 33.33333333333333%;
  }
  .no-gutter.row > .col-md-3 {
    width: 24.999999999999996%;
    *width: 24.930555555555554%;
  }
  .no-gutter.row > .col-md-2 {
    width: 16.666666666666664%;
    *width: 16.59722222222222%;
  }
  .no-gutter.row > .col-md-1 {
    width: 8.333333333333332%;
    *width: 8.263888888888888%;
  }
}

/* end custom theme */

.green{
  color: blue;
}
P.big{
  font-size: 15px;
  font-weight: bold;
}
li > a {
  padding: 15px 10px !important;
}
.btn{
  background-color: #65BD77 !important;
  border : solid 1px #828396 !important;
  color:#fff !important;
}

 

    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
  }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
    margin-top: 7.5px;
  }
  .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
      display:block !important;
  }

.dashboard-menu{
    background: #68B977;
    height: 200px;
    border-radius: 0px;
    text-align: center;
    line-height: middle;
}
.dashboard-icon{
    padding-top:5px;
}
.img-veec{
    opacity: 0.4;
    filter: alpha(opacity=40); /* For IE8 and earlier */
    width: 763px;
}
div.veec-background{
    background: url('images/veec_image.jpg');
    background-size:cover;
}

