body.container {
    -webkit-box-shadow: 0 3px 60px #fff;
    box-shadow: 0 3px 60px #fff;
    border-left: 1px solid #cfcfcf;
    border-right: 1px solid #cfcfcf;
    padding: 0px 5px !important;
  }
@-moz-document url-prefix() {
    fieldset {
        display: table-cell;
    }
}

canvas.jSignature { height: 500px; }

.box_graph{
    background: #D4F5C9;
    border : solid 1px #3C911D;
    border-radius: 5px;
    padding: 10px;
    height: 575px;
}
.box_graphic{
    background: #D4F5C9;
    border-radius: 5px;
    padding: 10px;
    height: 500px;
}

.width-150{
  width:150px !important;
}
.width-50{
  width: 50px !important;
}
.width-250{
  width: 250px !important;
}
.width-350{
  width: 350px !important;
}
.rotate {
  /* Something you can count on */
  height: 20px !important;
  white-space: nowrap;
  -moz-transform: rotate(-90deg);  /* FF3.5 */
       -o-transform: rotate(-90deg);  /* Opera 10.5 */
  -webkit-transform: rotate(-90deg);  /* Saf3.1, Chrome */
}
.34form-menu{
    background: #68B977;
    height: 100px;
    border-radius: 0px;
    text-align: center;
    line-height: middle;
}
.light-green{
  background: green;
}


#map-canvas {
        height: 500px;
        padding: 10px;
        margin-bottom: 10px
        padding: 0px;
      }

.main{
  padding: 5px;
}
h3{
  margin:0px;
}
.bold{
  font-weight: bold;
}
.input{
  background : #dedede !important;
  border : solid 1px #fff;
  padding: 0px;
  text-align: right;
}
.box_label{
  /*background: #00C57D;*/
  background: #828396;
  padding:3px;
  color: #fff;
  border: solid 1px #828396;
}
.box_desc{
  background: #dedede;
  padding:3px;
  border: solid 1px #fff;
}
.red{
  color: red;
}
h5{
  margin: 1px;
  font-weight: bold;
}
label,p{
  font-weight: normal;
  font-size: 12px;
}
.input-sm{
  padding: 2px ;
  height: 25px ;
  border-radius: 0px;
  border: solid 1px #efefef;
  font-size: 12px;
}
select.input-sm{
  height: 25px;
}
input.yellow, select.yellow{
  background-color: #FFF7B3;
}
.form-group{
    margin-bottom:3px;
    margin-top:2px;
}
.top{
  margin-top: 20px;
}
.space{
  margin-top:20px;
  margin-bottom: 20px;
}
.page_foot{
  margin-top:40px;
}
.page{
  padding:5px;
}
.skyblue{
  background-color: #828396;
  color: #fff;
}
.warm{
  background-color: #D7C100;
  color: white;
}
th.small{
  font-size: 12px;
}
p.small{
  margin-bottom: 2px;
}
th.center, td.center{
  text-align: center;
  vertical-align: center;

}
td{
  padding: 1px !important;
}
.blue{
  padding: 2px;
  color: #fff;
  background-color: #828396;
}
.box_photo{
  border: solid 1px #000;
  padding :5px;
  margin:5px;
}

/*
* style template
*/

/* bootstrap 3 helpers */

.navbar-form input, .form-inline input {
  width:auto;
}

/* end */

/* custom theme + Bootstrap resets */
@import url('http://fonts.googleapis.com/css?family=Open+Sans:300,400');

header {
  min-height:180px;
    margin-bottom:5px;
}

/* only apply sticky columns on wider screens */
@media (min-width: 1200px) {
  #sidebar {
  margin-left:15px;
  }

  #content {
  padding-right:15px;
  }

  #sidebar.affix-top {
      position: static;
  }
  
  #sidebar.affix {
      position: fixed !important;
      top: 20px;
      width:200px;
  }

  #midCol.affix-top {
      position: static;
  }

  #midCol.affix-bottom {
      padding-top:0;
  }
  
  #midCol.affix {
      position:fixed !important;
      top: 20px;
      width:292px;
  }
}

.affix {
      position:static;
}

body {
  font-family: 'Open Sans',Arial,Helvetica,Sans-Serif;
  font-weight:300;
  color:#676767;
  background-color:#efefef;
}

a,a:hover {
  color:#65BD77;
    text-decoration:none;
}

.highlight-bk {
  background-color:#65BD77;
    padding:1px;
    width:100%;
}

.highlight {
  color:#65BD77;
}
  
h3.highlight  {
  padding-top:13px;
    padding-bottom:14px;
    border-bottom:2px solid #65BD77;
}

.navbar {
  background-color:#65BD77;
    color:#ffffff;
    border-radius:0;
    margin-bottom: 5px;
}
.navbar-nav > li > a {
    color:#fff;
    padding-left:20px;
    padding-right:20px;
    border-left:1px solid #89CC97;
}
.navbar-nav > li:last-child > a {
    border-right:1px solid #89CC97;
}

.navbar-nav li a:hover {
    background-color:#89CC97;
}

.navbar-nav > .open > a, .navbar-nav > .open > a:hover, .navbar-nav > .open > a:focus {
  color: #000;
    opacity:.9;
}

.navbar-brand {
  color:#fff;
}

.accordion-group {
  border-width:0;
}

.dropdown-menu {
  min-width: 250px;
}

.caret {
  color:#fff;
}

.navbar-toggle {
  color:#fff;
    border-width:0;
}
  
.navbar-toggle:hover {
  background-color:#fff;
}

.panel,.panel-heading {
    border-radius:0;
    border-width:0;
    -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.09);
  box-shadow: 0 3px 3px  rgba(0, 0, 0, 0.09);
}
.panel-heading{
  margin-top: 50px;
}

.thumbnail {
  margin-bottom:8px;
  border-radius:0;
}

.well {
    border-radius:0;
}

.accordion-heading .accordion-toggle, .accordion-inner, .nav-stacked li > a {
  padding-left:1px;
}

footer {
    height:50px;
    background-color:#65BD77;
    color:#fff;
    position: fixed;
}

@media (min-width: 992px) {
  .no-gutter.row > div[class*='col-md'] {
    padding-left: 0;
    padding-right: 0;
  }
  .no-gutter.row > .col-md-12 {
    width: 99.99999999999999%;
    *width: 99.93055555555554%;
  }
  .no-gutter.row .col-md-11 {
    width: 91.66666666666666%;
    *width: 91.59722222222221%;
  }
  .no-gutter.row > .col-md-10 {
    width: 83.33333333333331%;
    *width: 83.26388888888887%;
  }
  .no-gutter.row > .col-md-9 {
    width: 74.99999999999999%;
    *width: 74.93055555555554%;
  }
  .no-gutter.row > .col-md-8 {
    width: 66.66666666666666%;
    *width: 66.59722222222221%;
  }
  .no-gutter.row > .col-md-7 {
    width: 58.33333333333333%;
    *width: 58.263888888888886%;
  }
  .no-gutter.row > .col-md-6 {
    width: 49.99999999999999%;
  }
  .no-gutter.row > .col-md-4 {
    width: 33.33333333333333%;
  }
  .no-gutter.row > .col-md-3 {
    width: 24.999999999999996%;
    *width: 24.930555555555554%;
  }
  .no-gutter.row > .col-md-2 {
    width: 16.666666666666664%;
    *width: 16.59722222222222%;
  }
  .no-gutter.row > .col-md-1 {
    width: 8.333333333333332%;
    *width: 8.263888888888888%;
  }
}

/* end custom theme */

.green{
  color: blue;
}
P.big{
  font-size: 15px;
  font-weight: bold;
}
li > a {
  padding: 15px 5px !important;
  font-size: 12px !important;
}
.btn{
  background-color: #65BD77 !important;
  border : solid 1px #828396 !important;
  color:#fff !important;
}
.submenu{
  padding-top:10px;padding-bottom:10px;
}

#assignment > input {
    text-transform: capitalize;
}
.input_email{
  text-transform: none;
}
.bottom_less{
  margin-bottom: 0px;
}
.mobile-21list-data {
  width:100%;
}
.mobile-21list-data tr td {
  font-size: 12px;
  width: 25%;
}
.mobile-21list-data tr td:first-child {
  background-color:#828396;
  color:white;
}
.mobile-21list-data tr td:last-child {
  background-color:white;
  color:black;
}
.mobile-21list-action .btn {
  width:100%;
  display:block
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

.postcode span.select2-chosen ,
.street span.select2-chosen {
  background-color: #FFF7B3
}
